<resources xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://developer.garmin.com/downloads/connect-iq/resources.xsd">

    <menu2 id="AppSettings" title="@Strings.Settings">
        <toggle-menu-item id="_"    label="@Strings.QRV1"           subLabel="force_qr_v1"/>
        <toggle-menu-item id="_"    label="@Strings.NewXCPrefx"     subLabel="new_xc_prefx"/>
        <toggle-menu-item id="_"    label="@Strings.AutoOrder"      subLabel="auto_order"/>
    </menu2>


    <!-- Default QR Settings -->

    <jsonData id="DefaultSettings">
    {
        "version": 1,
        "force_qr_v1": true,
        "new_xc_prefx": true,
        "auto_order": true
    }
    </jsonData>
</resources>